@import url(reset.css);

html {
   box-sizing: border-box;
   font: 16px/1.5 sans-serif;
}

body {
    padding: 1rem 2rem;
    line-height: 1.5;
    max-width: 80ch;
    margin: auto;
    background: rgb(240, 240, 240);
    color: black;
}

* {
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
    color: royalblue;
}

a:focus,
a:hover {
    outline: none;
    text-decoration: underline;
}

h1 {
    font: 800 2rem sans-serif;
    margin: 0 0 1rem 0;
    display: flex;
    justify-content: space-between
}

h1 span {
    border-bottom: 5px solid salmon;
    letter-spacing: -1px;
}

h1 a {
    font: 600 1rem sans-serif;
    padding-top: 1rem;
}

div.flex {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-flow: row wrap
}

div.flex>figure {
    flex: 1 1 40ch;
    text-align: center;
}

div.flex>div {
    max-width: 35ch;
}

.flex>figure>img {
    width: 90%;
    max-width: 35ch;
    margin: 1rem 0;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 4rem -1rem #000000bf;
}

.ingredients-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ingredients-header button {
    margin: 0 0 0 1rem;
    display: flex;
    align-items: center;
    height: 2.5rem;
    border-radius: 1.25rem;
    border: 0;
    background: rgb(250, 250, 250);
    box-shadow: 0 .5rem .75rem -.5rem #000000bf;
    cursor: pointer;
    padding: .5rem;
    font-weight: 800;
}

.ingredients-header button:hover {
    background: white;
}

.ingredients-header button:focus {
    outline: none;
    box-shadow: 0 .5rem .75rem -.5rem #000000bf, 0 0 0 2px black;
}

.ingredients-header button svg {
    height: 80%;
}

.yield,
.time {
    font: 800 1.25em/1.5 sans-serif;
    letter-spacing: -.5px;
}

table.ingredients {
    margin: 2rem 0;
    max-width: 40ch;
    border: solid black;
    border-width: 5px 0 5px 0;
}

.ingredients tr:first-child td {
    padding-top: 1ex
}

.ingredients tr:last-child td {
    padding-bottom: 1ex
}

.ingredients td:first-child {
    text-align: right;
    white-space: nowrap;
    font-weight: 800;
    padding-right: .5ch;
}

ol.preparation {
    list-style-type: decimal;
    padding: 0 1em;
}

ol.preparation li {
    margin: 1em 0
}

ul.recipes {
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: -1px;
}
.overlay {
    opacity: 0;
    transform: translateY(20px);
    transition: .2s opacity, .2s transform;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(white, rgb(230, 230, 230));
    overflow-y: auto;
}
.overlaid {
    overflow: hidden;
}
.overlaid .overlay {
    opacity: 1;
    transform: translateY(0px);
}
.overlay .header {
    height: 4rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}
.overlay .header svg {
    height: 60%;
}
.overlay .header span {
    font-weight: bold;
    font-size: 1.75rem;
    margin-left: .5rem;
}
.overlay button.close {
    padding: 0;
    height: 3rem;
    width: 3rem;
    border: 0;
    background: transparent;
    margin-left: auto;
}
.steps {
    font-size: 0;
    display: flex;
    flex-grow: 1;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}
.steps > div {
    box-sizing: border-box;
    min-width: 100vw;
    overflow-y: auto;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    font-size: 1.5rem;
    padding: .5rem 1.5rem 3.5rem 1.5rem;
    font-weight: 600;
}
.steps .done {
    text-align: center;
}
.steps .done img {
    max-width: 90%;
    max-height: 50vh;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 4rem -1rem #000000bf;
}
.overlay > .ingredients {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-top: 4rem;
    overflow-y: scroll;
    overflow-x: hidden;
    pointer-events: none;
    scroll-snap-type: y mandatory;
}
.overlay .ingredients .pane {
    scroll-snap-align: start;
}
.overlay .ingredients .clear.pane {
    width: 100%;
    height: 100%;
}
.overlay .ingredients .grab.pane {
    width: 100%;
    height: 100%;
    pointer-events: all;
    background: white;
    box-shadow: 0 -0.5rem 0.75rem -0.5rem #000000bf;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
.grab.pane .knob {
    height: 1rem;
    display: flex;
    justify-content: center;
}
.grab.pane .knob div {
    height: .5rem;
    width: 3rem;
    margin-top: .5rem;
    background: rgb(180,180,180);
    border-radius: .25rem;
}
.grab.pane h2 {
    font-weight: bold;
    font-size: 2rem;
    height: 3rem;
    padding: 0 0 0 1rem;
}
.grab.pane .table-container {
    height: calc(100% - 4rem);
    overflow: auto;
}
.grab.pane table {
    margin: 0 auto;
    font-size: 1.15rem;
    border: 1rem solid transparent;
    border-width: 0 1rem 0 1rem;
}

@media print {
    a, button {
        display: none!important;
    }
    html,body {
        font-size: 12px;
        background: white;
    }
}
@media (pointer:fine) {
    button[onclick="showSteps()"] {
        display: none;
    }
}
@media (pointer:coarse) {
    button[onclick="print()"] {
        display: none;
    }
}
@media (pointer:coarse) and (min-width: 800px) {
    .overlay {
        display: grid;
        grid-template-columns: 1fr 425px; 
        grid-template-rows: 4em 1fr;
        grid-template-areas: 
        "header header"
        ". .";
    }
    .overlay .header {
        grid-area: header;
    }
    .steps {
        display: block;
        overflow-y: scroll;
        overflow-x: hidden;
        scroll-snap-type: y mandatory;
    }
    .steps > div {
        height: 100%;
        padding: .5rem 1.5rem;
        min-width: calc(100vw - 425px);
    }
    .overlay > .ingredients {
        position: static;
        padding-top: 0;
        pointer-events: all;
        overflow: visible;
        scroll-snap-type: none;
    }
    .overlay > .ingredients .clear.pane {
        display: none;
    }
    .overlay > .ingredients .knob div {
        display: none;
    }
    .overlay > .ingredients .grab.pane {
        box-shadow: 0 0 2rem -.5rem #000000bf;
    }
}

::-webkit-scrollbar {
	width: 0px!important;
}