@import url(reset.css);
@import url(fonts.css);

html {
   box-sizing: border-box;
}

body {
    padding: 1rem 2rem;
    line-height: 1.5;
    max-width: 80ch;
    margin: auto;
    background: rgb(240, 240, 240);
    color: black;
}

button {
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
    color: royalblue;
}

a:focus,
a:hover {
    outline: none;
    text-decoration: underline;
}

h1 {
    font: 800 2rem sans-serif;
    margin: 0 0 1rem 0;
    display: flex;
    justify-content: space-between
}

h1 span {
    border-bottom: 5px solid salmon;
    letter-spacing: -1px;
}

h1 a {
    font: 600 1rem sans-serif;
    padding-top: 1rem;
}

div.flex {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-flow: row wrap
}

div.flex>figure {
    flex: 1 1 40ch;
    text-align: center;
}

div.flex>div {
    max-width: 35ch;
}

.flex>figure>img {
    width: 90%;
    max-width: 35ch;
    margin: 1rem 0;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 4rem -1rem #000000bf;
}

.ingredients-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ingredients-header button {
    margin: 0 0 0 1rem;
    display: flex;
    align-items: center;
    height: 2.5rem;
    border-radius: 1.25rem;
    border: 0;
    background: rgb(250, 250, 250);
    box-shadow: 0 .5rem .75rem -.5rem #000000bf;
    cursor: pointer;
    padding: .5rem;
    font-weight: 800;
}

.ingredients-header button:hover {
    background: white;
}

.ingredients-header button:focus {
    outline: none;
    box-shadow: 0 .5rem .75rem -.5rem #000000bf, 0 0 0 2px black;
}

.ingredients-header button svg {
    height: 80%;
}

.yield,
.time {
    font: 800 1.25em/1.5 sans-serif;
    letter-spacing: -.5px;
}

table.ingredients {
    margin: 2rem 0;
    max-width: 40ch;
    border: solid black;
    border-width: 5px 0 5px 0;
}

.ingredients tr:first-child td {
    padding-top: 1ex
}

.ingredients tr:last-child td {
    padding-bottom: 1ex
}

.ingredients td:first-child {
    text-align: right;
    white-space: nowrap;
    font-weight: 800;
    padding-right: .5ch;
}

ol.preparation {
    list-style-type: decimal;
    padding: 0 1em;
}

ol.preparation li {
    margin: 1em 0
}

ul.recipes {
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: -1px;
}

.template {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: .5rem 2rem 2rem 2rem;
    max-width: 80ch;
    margin: auto;
    background: rgba(240, 240, 240, 0.8)
}

.template a {
    font-size: 1.75rem;
    font-weight: 800;
}

body.overlaid {
    overflow: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    transition: transform .3s cubic-bezier(0, 0, 0.05, 1.0);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "steps""indicator";
}

.overlay.underneath {
    transform: translateY(100%);
}

.overlay>.ingredients {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    position: fixed;
    width: 100%;
    background: white;
    overflow-y: hidden;
    max-height: calc(100vh - 32px);
    transition: transform .3s cubic-bezier(0, 0, 0.05, 1.0);
}
.overlay>.ingredients.reveal {
    transform: translateY(0)!important;
}

.overlay > .ingredients .table-view {
    overflow-y: auto;
}

.overlay table.ingredients {
    margin: 0 auto;
    font-size: 1rem;
    line-height: 2;
    max-width: 85%;
    overflow-y: scroll;
    margin-bottom: 3rem;
    border: 0;
}

button.drop-down {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 1.25rem;
    line-height: 3rem;
    font-weight: 800;
    background: white;
    border: 0;
    cursor: pointer;
    padding: 0 1em;
    -webkit-tap-highlight-color: transparent;
}

button.drop-down:focus {
    outline: none;
}

button.drop-down svg {
    height: 3rem;
    transform: rotate(180deg);
    transition: transform .3s cubic-bezier(0, 0, 0.05, 1.0);
}

.reveal .drop-down svg {
    transform: rotate(0deg);
}

.slider {
    grid-area: steps;
    overflow: hidden;
    visibility: hidden;
    position: relative;
    padding: 3rem 0 0 0;
}

.slider>ol {
    overflow: hidden;
    position: relative;
    margin: 0;
    height: 100%;
    padding: 0;
    list-style-type: none;
}

.slider>ol>li {
    float: left;
    position: relative;
    font-size: 1.5rem;
    max-height: 100%;
    overflow-y: auto;
    line-height: 1.5;
    font-weight: 800;
    letter-spacing: -.5px;
}
.slider > ol > li > div {
    width:80%;
    margin: 5% 10%;
}

.indicator {
    grid-area: indicator;
    height: 2rem;
    text-align: center;
}

.indicator button {
    height: .75rem;
    width: .75rem;
    margin: .625rem .75ex;
    padding: 0;
    border: 0;
    background: transparent;
}

.indicator button:focus {
    outline: none;
}

.indicator button svg {
    cursor: pointer;
    height: 100%;
    vertical-align: middle;
    fill: rgba(0, 0, 0, .25)
}

.indicator button.active svg {
    fill: black;
}
<<<<<<< HEAD
.indicator button:not(.active) svg {
    transform: scale(.8);
}
=======
>>>>>>> ce2af5e0e4cdb766eb4db5a05b2bd3611a016c6a
