@import url(reset.css);
@import url(fonts.css);

html {
    box-sizing: border-box;
}

body {
    padding: 1rem 2rem;
    line-height: 1.5;
    max-width: 80ch;
    margin: auto;
    background: rgb(240,240,240);
    color: black;
}

a {
    text-decoration: none;
    color: royalblue;
}
a:focus, a:hover {
    outline: none;
    text-decoration: underline;
}

h1 {
    font: 800 2rem sans-serif;
    margin: 0 0 1rem 0;
    display: flex;
    justify-content: space-between
}

h1 span {
    border-bottom: 5px solid salmon;
    letter-spacing: -1px;
}

h1 a {
    font: 600 1rem sans-serif;
    padding-top: 1rem;
}

div.flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-flow: row wrap
}


.flex > div:first-child > img {
    width: 100%;
    margin: 1rem 1.5rem 2rem 0;
    max-width: 35ch;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 4rem -1rem #000000bf;
}
.ingredients-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ingredients-header button {
    margin: 0 0 0 1rem;
    display: flex;
    align-items: center;
    height: 2.5rem;
    border-radius: 1.25rem;
    border: 0;
    background: rgb(250,250,250);
    box-shadow: 0 .5rem .75rem -.5rem #000000bf;
    cursor: pointer;
    padding: .5rem;
    font-weight: 800;
}
.ingredients-header button:hover {
    background: white;
}
.ingredients-header button:focus {
    outline: none;
    box-shadow: 0 .5rem .75rem -.5rem #000000bf, 0 0 0 2px black;
}
.ingredients-header button svg {
    height: 80%;
}

.yield,
.time {
    font: 800 1.25em/1.5 sans-serif;
    letter-spacing: -.5px;
}

table.ingredients {
    margin: 2rem 0;
    max-width: 40ch;
    border: solid black;
    border-width: 5px 0 5px 0;
}

.ingredients tr:first-child td {
    padding-top: 1ex
}

.ingredients tr:last-child td {
    padding-bottom: 1ex
}

.ingredients td:first-child {
    text-align: right;
    white-space: nowrap;
    font-weight: 800;
    padding-right: .5ch;
}

ol.preparation {
    list-style-type: decimal;
    padding: 0 1em;
}

ol.preparation li {
    margin: 1em 0
}

ul.recipes {
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: -1px;
}

.template {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: .5rem 10%;
    max-width: 80ch;
    margin: auto;
    background: rgba(240,240,240, 0.8)
}

.template a {
    font-size: 1.25rem;
    font-weight: 800;
}